In [ ]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
dados = pd.read_csv("/content/tested.csv")

In [ ]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
dados = dados.drop(["Name", "Ticket", "Cabin", "Embarked"], axis=1)

In [ ]:
dados.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0          892         0       3    male  34.5      0      0   7.8292
1          893         1       3  female  47.0      1      0   7.0000
2          894         0       2    male  62.0      0      0   9.6875
3          895         0       3    male  27.0      0      0   8.6625
4          896         1       3  female  22.0      1      1  12.2875

In [ ]:
dados=dados.set_index(["PassengerId"])
dados = dados.rename(columns={"Survived":"target"}, inplace=False)

In [ ]:
dados.head()

             target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
892               0       3    male  34.5      0      0   7.8292
893               1       3  female  47.0      1      0   7.0000
894               0       2    male  62.0      0      0   9.6875
895               0       3    male  27.0      0      0   8.6625
896               1       3  female  22.0      1      1  12.2875

In [ ]:
dados.describe()

           target      Pclass         Age       SibSp       Parch        Fare
count  418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean     0.363636    2.265550   30.272590    0.447368    0.392344   35.627188
std      0.481622    0.841838   14.181209    0.896760    0.981429   55.907576
min      0.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   27.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   39.000000    1.000000    0.000000   31.500000
max      1.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
dados.describe(include=['O'])

         Sex
count    418
unique     2
top     male
freq     266

In [ ]:
dados["Sex_F"]= np.where(dados["Sex"]=="female", 1, 0)

dados["PClass_1"]= np.where(dados["Pclass"] == 1, 1, 0)
dados["PClass_2"]= np.where(dados["Pclass"] == 2, 1, 0)
dados["PClass_3"]= np.where(dados["Pclass"] == 3, 1, 0)

In [ ]:
dados = dados.drop(["Sex", "Pclass"], axis=1)

In [ ]:
dados.head()

,target,Age,SibSp,Parch,Fare,Sex_F,PClass_1,PClass_2,PClass_3
PassengerId,,,,,,,,,
892,0,34.5,0,0,7.8292,0,0,0,1
893,1,47.0,1,0,7.0000,1,0,0,1
894,0,62.0,0,0,9.6875,0,0,1,0
895,0,27.0,0,0,8.6625,0,0,0,1
896,1,22.0,1,1,12.2875,1,0,0,1

In [ ]:
dados.isnull().sum()

target       0
Age         86
SibSp        0
Parch        0
Fare         1
Sex_F        0
PClass_1     0
PClass_2     0
PClass_3     0
dtype: int64

In [ ]:
dados.fillna(0, inplace=True)

In [ ]:
dados.isnull().sum()

target      0
Age         0
SibSp       0
Parch       0
Fare        0
Sex_F       0
PClass_1    0
PClass_2    0
PClass_3    0
dtype: int64

In [ ]:
dados.head()

,target,Age,SibSp,Parch,Fare,Sex_F,PClass_1,PClass_2,PClass_3
PassengerId,,,,,,,,,
892,0,34.5,0,0,7.8292,0,0,0,1
893,1,47.0,1,0,7.0000,1,0,0,1
894,0,62.0,0,0,9.6875,0,0,1,0
895,0,27.0,0,0,8.6625,0,0,0,1
896,1,22.0,1,1,12.2875,1,0,0,1

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(dados.drop(["target"], axis=1),
                                                    dados["target"],
                                                    test_size=0.3,
                                                    random_state=1234)

[{"treino": x_train.shape}, {"teste": x_test.shape}]

[{'treino': (292, 8)}, {'teste': (126, 8)}]

In [ ]:
rndforest = RandomForestClassifier(n_estimators=1000,
                                  criterion='gini',
                                  max_depth=5)
rndforest.fit(x_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=1000)

In [ ]:
prob = rndforest.predict_proba(dados.drop("target", axis=1))[:,1]
clas = rndforest.predict(dados.drop("target", axis=1))

In [ ]:
dados["probabilidade"] = prob
dados["classificação"] = clas

In [ ]:
dados

,target,Age,SibSp,Parch,Fare,Sex_F,PClass_1,PClass_2,PClass_3,probabilidade,classificação
PassengerId,,,,,,,,,,,
892,0,34.5,0,0,7.8292,0,0,0,1,0.046123,0
893,1,47.0,1,0,7.0000,1,0,0,1,0.922119,1
894,0,62.0,0,0,9.6875,0,0,1,0,0.048481,0
895,0,27.0,0,0,8.6625,0,0,0,1,0.040578,0
896,1,22.0,1,1,12.2875,1,0,0,1,0.907500,1
...,...,...,...,...,...,...,...,...,...,...,...
1305,0,0.0,0,0,8.0500,0,0,0,1,0.044348,0
1306,1,39.0,0,0,108.9000,1,1,0,0,0.903949,1
1307,0,38.5,0,0,7.2500,0,0,0,1,0.046057,0
1308,0,0.0,0,0,8.0500,0,0,0,1,0.044348,0
1309,0,0.0,1,1,22.3583,0,0,0,1,0.080724,0